<footer class="container-fluid">
  <div class="row">
    <div class="col-10 col-sm-9 col-md-8 col-lg-7 col-xl-6 mx-auto">
      <p class="text-center py-3 m-0">Gobierno de la Ciudad de México ® <%= Time.now.year %>.</p>
    </div>
  </div>
</footer>
