<section class="container-fluid" id="classlist">
  <div class="row">
    <div class="col-10 mx-auto">
      <h1>Soy la lista generada en el pdf <%= Time.zone.now %></h1>
      <h3>Classlist</h3>
      <h1><%= @course.name %></h1>
<!-- Este archivo es para ver como se vería el pdf creado -->
    </div>
  </div>
</section>
