//  ==================== Colors ==============
$cherry: #9F2241;
$cherry_dark: #691C32;
$green: #235B4E;
$green_dark: #10312B;
$brown: #DDc9A3;
$brown_dark: #BC955C;
$gray: #98989A;
$gray_dark: #6F7271;
//  ==================== End Colors ==============
// ============================== Navbar ======================================
nav{
  background-color: $cherry;
  img{
    max-height: 50px;
  }
  li{
    .nav-link{;
      transition: 1s ease all;
      &:hover{
        transition: 1s ease all;
      }
    }
  }
}
// ============================== End Navbar ======================================
// ============================== Home ======================================
#home{
  .btn-green{
    background-color: $green;
    transition: 1s ease all;
    color: white;
    &:hover{
      background-color: $green_dark;
      transition: 1s ease all;
    }
  }
}
// ============================== End Home ======================================
// ============================== Footer ======================================
footer{
  background-color: $green;
  color: white;
}
// ============================== End footer ======================================
