//  ==================== Colors ==============
$cherry: #9F2241;
$cherry_dark: #691C32;
$green: #235B4E;
$green_dark: #10312B;
$brown: #DDc9A3;
$brown_dark: #BC955C;
$gray: #98989A;
$gray_dark: #6F7271;
.gray{
  color: $gray;
}
//  ==================== End Colors ==============
// ====================== Buttons =====================
.btn-green{
  background-color: $green;
  transition: 1s ease all;
  border: 0;
  color: white;
  &:hover{
    background-color: $green_dark;
    transition: 1s ease all;
    color: white!important;
  }
}
.form-group{
  margin-top: 10px;
  margin-bottom: 10px;
}
// =========================== End Buttons =========================
// ============================== Navbar ======================================
nav{
  background-color: $cherry;
  img{
    max-height: 50px;
  }
  li{
    .nav-link{;
      transition: 1s ease all;
      color: white!important;
      &:hover{
        transition: 1s ease all;
        color: $gray!important;
      }
    }
  }
  .btn-green{
    background-color: $green;
    transition: 1s ease all;
    border: 0;
    color: white;
    &:hover{
      background-color: $green_dark;
      transition: 1s ease all;
      color: white!important;
    }
  }
}
// ============================== End Navbar ======================================
// ============================== Home ======================================
#home{
  .btn-green{
    background-color: $green;
    transition: 1s ease all;
    color: white;
    &:hover{
      background-color: $green_dark;
      transition: 1s ease all;
    }
  }
}
// ============================== End Home ======================================
// ============================== Footer ======================================
footer{
  background-color: $green;
  color: white;
}
// ============================== End footer ======================================
// ============================== Workers show ======================================
// ============================== End Workers show ======================================
// ============================== Studentds Index ======================================
#students_index{
  .link-email-student{
    text-decoration: none;
    transition: 1s ease all;
    padding-bottom: 2px;
    border-bottom: 1px solid transparent;
    &:hover{
      border-bottom: 1px solid black;
      transition: 1s ease all;
    }
  }
}
// ============================== End Students Index ======================================
