//  ==================== Colors ==============
$cherry: #9F2241;
$cherry_dark: #691C32;
$green: #235B4E;
$green_dark: #10312B;
$brown: #DDc9A3;
$brown_dark: #BC955C;
$gray: #98989A;
$gray_dark: #6F7271;
.gray{
  color: $gray;
}
.bg-wine{
  background-color: $cherry;
}
.green{
  color: $green;
}
.red{
  color: #ff0000;
}
//  ==================== End Colors ==============
//  ==================== Body ==============

body{
  position: relative;
}
p{
  max-width: 75ch;
}
//  ==================== End body ==============

// ====================== Buttons =====================
.btn-green{
  background-color: $green;
  transition: 1s ease all;
  border: 0;
  color: white;
  &:hover{
    background-color: $green_dark;
    transition: 1s ease all;
    color: white!important;
  }
}
.btn-brown{
  background-color: $brown;
  transition: 1s ease all;
  border: 0;
  color: black;
  &:hover{
    background-color: $brown_dark;
    color: white;
  }
}
.btn-gray{
  background-color: $gray;
  transition: 1s ease all;
  border: 0;
  color: white;
  &:hover{
    background-color: $gray_dark;
    color: white;
  }
}
.btn-cherry{
  background-color: $cherry;
  transition: 1s ease all;
  border: 0;
  color: white;
  &:hover{
    background-color: $cherry_dark;
    color: white;
  }
}
.form-group{
  margin-top: 10px;
  margin-bottom: 10px;
}
// =========================== End Buttons =========================
// ============================== Navbar ======================================
nav{
  background-color: $cherry;
  img{
    max-height: 50px;
  }
  li{
    .nav-link{;
      transition: 1s ease all;
      color: white!important;
      &:hover{
        transition: 1s ease all;
        color: $gray!important;
      }
    }
  }
  .btn-green{
    background-color: $green;
    transition: 1s ease all;
    border: 0;
    color: white;
    &:hover{
      background-color: $green_dark;
      transition: 1s ease all;
      color: white!important;
    }
  }
}
// ============================== End Navbar ======================================
// ============================== Home ======================================
#home{
  height: 100vh;
  .btn-green{
    background-color: $green;
    transition: 1s ease all;
    color: white;
    &:hover{
      background-color: $green_dark;
      transition: 1s ease all;
    }
  }
}
// ============================== End Home ======================================
// ============================== Footer ======================================
footer{
  background-color: $green;
  color: white;
  // position: absolute;
  // bottom: 0;
}
// ============================== End footer ======================================
// ============================== Workers show ======================================
#users_profile{
  height: 100vh;
}
// ============================== End Workers show ======================================
// ============================== Workers index ======================================
.checkboxes{
}
.checkboxes input{
  margin: 0 25px;
}
// ============================== End Workers index ======================================
// ============================== courses Index ======================================
#courses{
  height: auto;
  .accordion-button:not(.collapsed) {
    color: white;
    background-color: #e7f1ff;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125);
    background-color: $cherry;
  }
}
// ============================== End courses Index ======================================
// ============================== Studentds Index ======================================

#students_index{
  .link-email-student{
    text-decoration: none;
    transition: 1s ease all;
    padding-bottom: 2px;
    border-bottom: 1px solid transparent;
    &:hover{
      border-bottom: 1px solid black;
      transition: 1s ease all;
    }
  }
}
// ============================== End Students Index ======================================
// ============================== will paginate =========================================
.apple_pagination {
  text-align: center;
  padding: 1em;
  cursor: default; }
.apple_pagination a, .apple_pagination span {
  padding: 0.2em 0.3em; }
.apple_pagination .disabled {
  color: #aaaaaa; }
.apple_pagination .current {
  font-style: normal;
  font-weight: bold;
  background-color: #bebebe;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  line-height: 1.5;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
.apple_pagination a {
  text-decoration: none;
  color: black; }
.apple_pagination a:hover, .apple_pagination a:focus {
  text-decoration: underline; }
  // ============================== End will paginate =========================================
