// ============================= Workers index ==========================
#workers-all{
  a{
    text-decoration: none;
    transition: 1s ease all;
    &:hover{
      text-decoration: underline;
      transition: 1s ease all;
    }
  }
}
// ============================= Workers index ==========================
